@model DataAccess.Models.Book
@{
    ViewData["Title"] = "Get book info";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container pt-3 pb-4">
    <div class="row py-5">
        <div class="col-12 col-md-5 col-lg-4 d-flex flex-column pt-3">
            <img src="@Model.ImagePath" alt="book (here must be the name of book)" class="w-100">
            <div class="book_desc">
                <div class="h4">Authors</div>
                @foreach (var a in Model.Authors)
                {
                    <div class="h5 text-secondary">@a.Name @a.Surname</div>
                }
                <div class="h4">Genres</div>
                @foreach (var g in Model.Genres)
                {
                    <div class="h5 text-secondary">@g</div>
                }
                <div class="h4">Rate</div>
                <div class="h5 text-secondary">@Model.Rate</div>

            </div>
        </div>
        <div class="col-12 col-md-7 col-lg-8 d-flex flex-column pt-3">
            <h1>@Model.Title</h1>
            <a href="#">Download</a>
            <div class="h2">Description</div>
            <p class="text-secondary">@Model.Description</p>
           
            <div class="more_books d-flex flex-wrap">
                <div class="col-6 col-md-3">
                    <a class="card">
                        <img src="..." class="card-img-top" alt="...">
                    </a>
                </div>
                <div class="col-6 col-md-3">
                    <a class="card">
                        <img src="..." class="card-img-top" alt="...">
                    </a>
                </div>
                <div class="col-6 col-md-3">
                    <a class="card">
                        <img src="..." class="card-img-top" alt="...">
                    </a>
                </div>
                <div class="col-6 col-md-3">
                    <a class="card">
                        <img src="..." class="card-img-top" alt="...">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

